doctype html
html
  head
    title Brilliant Code Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/img/logo.jpg")
                | BCA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") class Info]
            li #[a(href="/contact") Contact us]
    block content
    footer#footer
        | copyright @ Brilliant Code Academy.com 2022 |all rights reserved
    
    